# © 2022 Vlad-Stefan Harbuz <vlad@vladh.net>
# SPDX-License-Identifier: MIT

[submodule "vendor/hare-glm"]
	path = vendor/hare-glm
	url = git@git.sr.ht:~vladh/hare-glm
[submodule "vendor/hare-sdl2"]
	path = vendor/hare-sdl2
	url = git@git.sr.ht:~sircmpwn/hare-sdl2
